*
{
    background-color: #3c3c3c;
    color: white;
}

body
{
    touch-action: manipulation;
}

header
{
    background-color: darkorange;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 15px;
    box-shadow: 5px 5px black;
    a
    {
        background-color: #3c3c3c;
        border: 2px solid black;
        border-radius: 15px;
        margin: 5px;
        padding: 5px;
        text-decoration: none;
        color: darkorange;
        box-shadow: 5px 5px black;
    }
    a:hover
    {
        background-color: darkorange;
        color: #3c3c3c;
    }
}

#timertijd
{
    color: darkorange;
    font-size: xxx-large;
}

main
{
    button
    {
        width: 97vw;
        height: 250px;
        margin-left: 1vw;
        margin-right: 1vw;
        border-radius: 15px;
    }

    button:hover
    {
        background-color: darkorange;
    }
}

footer
{
    background-color: darkorange;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    color: white;
    text-align: center;
}

#warning
{
    color: darkorange;
}