*
{
    background-color: #424242;
}

header
{
    background-color: darkorange;
    border: 2px solid black;
    border-radius: 15px;
    margin: 5px;
    box-shadow: 5px 5px black;
    button
    {
        background-color: darkorange;
        border: 2px solid black;
        border-radius: 15px;
        margin: 5px;
    }
}

#timertijd
{
    color: darkorange;
    font-size: xxx-large;
}

footer
{
    background-color: darkorange;
    border: 2px solid black;
    border-radius: 15px;
    margin: 5px;
}